* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: hidden;
}

.container img {
    max-width: 100px;
    margin: 0 auto;
    
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

header, footer {
    background-color: rgba(19, 163, 0, 0.67);
    padding-top: 16px;
    color: rgb(0, 0, 0);
}

header img {
    max-width: 50px;
    
}

header .container {
    justify-content: space-between;
    align-items: center;    
    padding-bottom: 16px ;
}

nav {
    background-color: rgba(8, 249, 225, 0.603);
    padding: 16px 0 ;
    display: none;
    
    
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px ;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
text-decoration: none;
}

.Menu-Hamburguer {
    width: 32px;
    cursor: pointer; 
}

.Menu-Hamburguer span {
    height: 2px;
    width: 100%;
    background-color: aliceblue;
    display: block;
    margin-bottom: 6px;
    background-color: black;
}

section {
    padding: 50px 0px;
}

#imagens {
    margin: 0 auto;
    display: flex;
    max-height: 1980px;
    max-width: 1000px;
    width: 100%;

 
}




#logort img {
    max-width: 150px ;
    
    border: 1px solid;
  
    width: 200px;

}

#container-paragrafo {
    text-align: center;
    padding: 20px ;

}

#container-paragrafo h2 {
    align-items:center;
    padding: 12px;
    font-size: 40px;    
    border: 1px solid;
}

#container-paragrafo p {
    
    display: flex;
    font-size: 25px;
    text-align:left;
    width: 80%;
    border: 1px solid;
    padding: 20px 0;
    margin: 0 auto;
   

    
}

.erp img {
margin: 0 auto;
display: flex;
max-height: 1980px;
max-width: 1000px;
width: 100%;
}

.paragrafo {
    padding: 20px 0;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    max-height: 1000px;
    max-width: 1980px;
    width: 80%;
    border: 1px solid;
    font-size: 18px;

}

.textlink {
    align-items:center;
    padding: 12px;
    font-size: 20px;  
}

.webposto1 {
    text-align: center;
    padding: 18px;
    font-size: 20px;    
    border: 1px solid;
    margin: 0 auto;
}

.webposto1 img {
    margin: 0 auto;
    display: flex;
    max-height: 1980px;
    max-width: 1000px;
    width: 100%;}


.imgsistemas h2 {
    align-items:center;
    padding: 12px;
    font-size: 40px;    
    border: 1px solid;
} 





.webposto {
 max-height: 1920px;
 max-width: 1000px;
 margin: 0 auto;
 padding: 50px;

}

.linkpro1 li {
    border: 1px solid;
    text-align: center;
}

.linkpro1 img {
    margin: 0 auto;
    display: flex;
    max-height: 1980px;
    max-width: 1000px;
    width: 100%;

}


.textlink  {
    max-height: 1920px;
 max-width: 1000px;
 margin: 0 auto;
 padding: 50px; 
}

.campo,
 textarea, label{
    margin-bottom: 16px;
    margin:  0 auto;
    padding: 8px ;
    display: block;
    
    

}


.campo label {
    font-weight: bold;
    
    
  
}

.campo input,
.campo textarea {
    padding: 8px;
    width: 500px;

}

.campo textarea {
    resize: none;
    height: 120px;
}

.button {
    padding: 32px;
   
    border: 1px solid;
    margin: 0 auto;
    
    
}

form {
    max-width:  360px;
    
}

form button {
    max-width: 120px;
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(25, 173, 25);
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.rodape {
    display: flex;
    border: 1px solid;
    margin: 0 auto;
    padding: 8px ;
   
}
footer li {
    list-style: none;
    margin-left: 16px;
}

footer img {
    height: 32px;
}

.container-flex {
    display: flex;
}

footer  {
    text-align: left;
}

footer .container{
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
}

.sistemas h2 {
    border: 1px solid;
    padding: 20px;
}
