* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

html {
    overflow-x: hidden;
}

.container img {
    max-width: 100px;
    margin: 0 auto;
    
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 255, 255, 0.67);
    padding-top: 16px;
    color: rgb(0, 0, 0);
}

header img {
    max-width: 100px;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding-bottom: 16px ;
}

nav {
    background-color: rgba(8, 249, 225, 0.603);
    padding: 16px 0 ;
    display: none;
    
    
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px ;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
text-decoration: none;
}

.Menu-Hamburguer {
    width: 32px;
    cursor: pointer; 
}

.Menu-Hamburguer span {
    height: 2px;
    width: 100%;
    background-color: aliceblue;
    display: block;
    margin-bottom: 6px;
    background-color: black;
}

section {
    padding: 50px 0px;
}

#imagens {
max-height: 1980px;
margin: auto;
max-width: 1000px;
width: 100%;

 
}

#new-container {
 
   

    
}


#logort img {
    max-width: 150px ;
    
    border: 1px solid;
  

}

#container-paragrafo {
    text-align: center;
    padding: 20px ;

}

#container-paragrafo h2 {
    align-items:center;
    padding: 12px;
    font-size: 40px;    
    border: 1px solid;
}

#container-paragrafo p {
    
    display: flex;
    font-size: 25px;
    text-align:left;
    width: 80%;
    border: 1px solid;
    padding: 20px 0;
    margin: 0 auto;
   

    
}

.erp img {
margin: 0 auto;
display: flex;
max-height: 1980px;
max-width: 1000px;
width: 100%;
}

.paragrafo {
    padding: 20px 0;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    max-height: 1000px;
    max-width: 1980px;
    width: 80%;
    border: 1px solid;
    font-size: 18px;

}

.textlink {
    align-items:center;
    padding: 12px;
    font-size: 20px;  
}

.linkpro, .webposto {
    text-align: center;
    padding: 18px;
    font-size: 20px;    
    border: 1px solid;
    margin: 0 auto;
}

.imgsistemas h2 {
    align-items:center;
    padding: 12px;
    font-size: 40px;    
    border: 1px solid;
} 



.imgsistemas, .webposto {
 max-height: 1920px;
 max-width: 1000px;
 margin: 0 auto;
 padding: 50px;

}

